.header {
  padding: 24px 64px;
  background: #f7f7f7;
}

.logo {
  margin-right: 450px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  gap: 32px;
}

.navLink {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.navLink:hover,
.navLink:focus,
.navLink:active {
  color: var(--button-hover);
}






/* 

.fav {
  margin-left: auto;
  color: var(--main);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.favIcon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  pointer-events: none;
  transition: color 0.2s ease;
}

.fav:hover {
  color: var(--button);
} */