.page {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.layout {
    display: flex;
    flex-direction: row;
    gap: 4rem;

}


.sidebar {
    width: 360px;

    flex-shrink: 0;
}

.listSection {
    flex: 1;
}


.list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.loadMoreWrapper {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}


.error {
    color: #ef4444;
    margin-bottom: 16px;
    font-size: 14px;
}



.loadMore {
    font-family: "Inter", sans-serif;
    border: 1px solid var(--gray-light);
    border-radius: 200px;
    width: 145px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.01em;
    margin-left: auto;
    margin-right: auto;
    transition: border-color 0.3s ease;
    background: transparent;
    color: var(--main);
}

.loadMore:hover {
    border-color: var(--button-hover);
}