.wrapper {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.spinner {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 3px solid #dadde1;
    border-top-color: #e44848;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}