:root {
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
}

button {
  cursor: pointer;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
  min-height: 100vh;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--white);
  color: var(--main);
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 0 64px;
  margin: 0 auto;
}