.hero {
    height: calc(100vh - 72px);
    background-image: url("/image/homePage.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 260px 64px 0;
}

.title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 67%;
    color: var(--inputs);
    margin-bottom: 16px;
}

.text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--inputs);
    margin-bottom: 40px;
}

.link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
    background: var(--button);
    border-radius: 200px;
    padding: 16px 60px;
    width: 173px;
    height: 56px;
}

.link :hover,
.link :focus {
    cursor: pointer;
    background: var(--button-hover);
}